/*============ oppi_finance_banner_area css ===========*/
.oppi_finance_banner_area {
  overflow: hidden; }

.oppi_finance_banner_content {
  max-width: 570px;
  margin-left: auto;
  margin-right: 0; }

/*============ oppi_finance_banner_area css ===========*/
